In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#tensorflow
import tensorflow as tf
tf.logging.set_verbosity(tf.logging.ERROR)

In [3]:
#Uploading Data
df=pd.read_csv('train.csv')
dt=pd.read_csv('test.csv')

In [4]:
#Checking null values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df=df.drop(columns=['Cabin'])
dt=dt.drop(columns=['Cabin'])

In [6]:
#Converting male to 1 and female to 0
for i in range(df.shape[0]):
    if df.iat[i,4]=='male':
        df.iat[i,4]=1
    else:df.iat[i,4]=0
        
for i in range(dt.shape[0]):
    if dt.iat[i,3]=='male':
        dt.iat[i,3]=1
    else:dt.iat[i,3]=0

In [7]:
#Removing Nan values for Age
for i in range(df.shape[0]):
    if pd.isna(df.iat[i,5]):
        df.iat[i,5]=df[(df.Sex==df.iat[i,4])&(df.Pclass==df.iat[i,2])].Age.mean()
        
for i in range(dt.shape[0]):
    if pd.isna(dt.iat[i,4]):
        dt.iat[i,4]=dt[(dt.Sex==dt.iat[i,3])&(dt.Pclass==dt.iat[i,1])].Age.mean()

In [8]:
#Removing Nan in Embarked
for i in range(df.shape[0]):
    if pd.isna(df.iat[i,8]):
        df.iat[i,8]='S'

In [9]:
#Dropping Fare
df=df.drop(columns=['Fare'])
dt=dt.drop(columns=['Fare'])

In [22]:
#Converting Embarked into numbers
for i in range(df.shape[0]):
    if df.iat[i,8]=='S':
        df.iat[i,8]=0
    if df.iat[i,8]=='C':
        df.iat[i,8]=1
    if df.iat[i,8]=='Q':
        df.iat[i,8]=2
        
for i in range(dt.shape[0]):
    if dt.iat[i,7]=='S':
        dt.iat[i,7]=0
    if dt.iat[i,7]=='C':
        dt.iat[i,7]=1
    if dt.iat[i,7]=='Q':
        dt.iat[i,7]=2

In [11]:
#Dropping unnessary fields
df=df.drop(columns=['Ticket','Name'])
dt=dt.drop(columns=['Ticket','Name'])

In [12]:
#Changing Index
df.index=df.PassengerId
df=df.drop(columns=['PassengerId'])
dt.index=dt.PassengerId
dt=dt.drop(columns=['PassengerId'])

In [13]:
#Normalizing Age
df.Age=df.Age/10
dt.Age=dt.Age/10

In [18]:
from tensorflow.keras import layers

In [19]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(28, 28)),
  tf.keras.layers.Dense(512, activation=tf.nn.relu),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(10, activation=tf.nn.softmax)
])

In [30]:
l0=tf.keras.layers.Dense(20,input_shape=(6,1),activation='relu')
l1=tf.keras.layers.Dense(12,activation='relu')
l2=tf.keras.layers.Dense(2,activation='softmax')

In [23]:
df

             Survived  Pclass Sex       Age  SibSp  Parch Embarked
PassengerId
1                   0       3   1  2.200000      1      0        0
2                   1       1   0  3.800000      1      0        1
3                   1       3   0  2.600000      0      0        0
4                   1       1   0  3.500000      1      0        0
5                   0       3   1  3.500000      0      0        0
6                   0       3   1  2.650759      0      0        2
7                   0       1   1  5.400000      0      0        0
8                   0       3   1  0.200000      3      1        0
9                   1       3   0  2.700000      0      2        0
10                  1       2   0  1.400000      1      0        1
11                  1       3   0  0.400000      1      1        0
12                  1       1   0  5.800000      0      0        0
13                  0       3   1  2.000000      0      0        0
14                  0       3   1  3.900000      1      5        0
15                  0       3   0  1.400000      0      0        0
16                  1       2   0  5.500000      0      0        0
17                  0       3   1  0.200000      4      1        2
18                  1       2   1  3.074071      0      0        0
19                  0       3   0  3.100000      1      0        0
20                  1       3   0  2.175000      0      0        1
21                  0       2   1  3.500000      0      0        0
22                  1       2   1  3.400000      0      0        0
23                  1       3   0  1.500000      0      0        2
24                  1       1   1  2.800000      0      0        0
25                  0       3   0  0.800000      3      1        0
26                  1       3   0  3.800000      1      5        0
27                  0       3   1  2.650759      0      0        1
28                  0       1   1  1.900000      3      2        0
29                  1       3   0  2.175000      0      0        2
30                  0       3   1  2.650759      0      0        0
...               ...     ...  ..       ...    ...    ...      ...
862                 0       2   1  2.100000      1      0        0
863                 1       1   0  4.800000      0      0        0
864                 0       3   0  2.175000      8      2        0
865                 0       2   1  2.400000      0      0        0
866                 1       2   0  4.200000      0      0        0
867                 1       2   0  2.700000      1      0        1
868                 0       1   1  3.100000      0      0        0
869                 0       3   1  2.650759      0      0        0
870                 1       3   1  0.400000      1      1        0
871                 0       3   1  2.600000      0      0        0
872                 1       1   0  4.700000      1      1        0
873                 0       1   1  3.300000      0      0        0
874                 0       3   1  4.700000      0      0        0
875                 1       2   0  2.800000      1      0        1
876                 1       3   0  1.500000      0      0        1
877                 0       3   1  2.000000      0      0        0
878                 0       3   1  1.900000      0      0        0
879                 0       3   1  2.650759      0      0        0
880                 1       1   0  5.600000      0      1        1
881                 1       2   0  2.500000      0      1        0
882                 0       3   1  3.300000      0      0        0
883                 0       3   0  2.200000      0      0        0
884                 0       2   1  2.800000      0      0        0
885                 0       3   1  2.500000      0      0        0
886                 0       3   0  3.900000      0      5        2
887                 0       2   1  2.700000      0      0        0
888                 1       1   0  1.900000      0      0        0
889                 0       3   0  2.175000      1      2        0
890                 1       1   1  2.600000      0      0        1
891                 0       3   1  3.200000      0      0        2

[891 rows x 7 columns]

In [52]:
tf.__version__

'1.13.1'

In [47]:
l1=tf.keras.layers(units=12,input_shape=[1])

TypeError: 'module' object is not callable

In [15]:
from tensorflow import keras

In [39]:
df

             Survived  Pclass Sex       Age  SibSp  Parch Embarked
PassengerId
1                   0       3   1  2.200000      1      0        0
2                   1       1   0  3.800000      1      0        1
3                   1       3   0  2.600000      0      0        0
4                   1       1   0  3.500000      1      0        0
5                   0       3   1  3.500000      0      0        0
6                   0       3   1  2.650759      0      0        2
7                   0       1   1  5.400000      0      0        0
8                   0       3   1  0.200000      3      1        0
9                   1       3   0  2.700000      0      2        0
10                  1       2   0  1.400000      1      0        1
11                  1       3   0  0.400000      1      1        0
12                  1       1   0  5.800000      0      0        0
13                  0       3   1  2.000000      0      0        0
14                  0       3   1  3.900000      1      5        0
15                  0       3   0  1.400000      0      0        0
16                  1       2   0  5.500000      0      0        0
17                  0       3   1  0.200000      4      1        2
18                  1       2   1  3.074071      0      0        0
19                  0       3   0  3.100000      1      0        0
20                  1       3   0  2.175000      0      0        1
21                  0       2   1  3.500000      0      0        0
22                  1       2   1  3.400000      0      0        0
23                  1       3   0  1.500000      0      0        2
24                  1       1   1  2.800000      0      0        0
25                  0       3   0  0.800000      3      1        0
26                  1       3   0  3.800000      1      5        0
27                  0       3   1  2.650759      0      0        1
28                  0       1   1  1.900000      3      2        0
29                  1       3   0  2.175000      0      0        2
30                  0       3   1  2.650759      0      0        0
...               ...     ...  ..       ...    ...    ...      ...
862                 0       2   1  2.100000      1      0        0
863                 1       1   0  4.800000      0      0        0
864                 0       3   0  2.175000      8      2        0
865                 0       2   1  2.400000      0      0        0
866                 1       2   0  4.200000      0      0        0
867                 1       2   0  2.700000      1      0        1
868                 0       1   1  3.100000      0      0        0
869                 0       3   1  2.650759      0      0        0
870                 1       3   1  0.400000      1      1        0
871                 0       3   1  2.600000      0      0        0
872                 1       1   0  4.700000      1      1        0
873                 0       1   1  3.300000      0      0        0
874                 0       3   1  4.700000      0      0        0
875                 1       2   0  2.800000      1      0        1
876                 1       3   0  1.500000      0      0        1
877                 0       3   1  2.000000      0      0        0
878                 0       3   1  1.900000      0      0        0
879                 0       3   1  2.650759      0      0        0
880                 1       1   0  5.600000      0      1        1
881                 1       2   0  2.500000      0      1        0
882                 0       3   1  3.300000      0      0        0
883                 0       3   0  2.200000      0      0        0
884                 0       2   1  2.800000      0      0        0
885                 0       3   1  2.500000      0      0        0
886                 0       3   0  3.900000      0      5        2
887                 0       2   1  2.700000      0      0        0
888                 1       1   0  1.900000      0      0        0
889                 0       3   0  2.175000      1      2        0
890                 1       1   1  2.600000      0      0        1
891                 0       3   1  3.200000      0      0        2

[891 rows x 7 columns]